                                        /* BANNER EVENT*/
.banner__event{
    width: 100%;
    height: 100vh;
    background-color: black;
    .banner__event--img{
        background-image: linear-gradient(to top,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.612), rgba(0, 0, 0, 0.816),rgba(0, 0, 0, 0.976)), url(../assets/event/bodabanner1.webp);
        background-size:cover;
        width: 100%;
        height: 100%;
        animation-name: degrade;
        animation-timing-function:ease-out;
        animation-duration: 4s;
    }
    .banner__event--title{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 500;
        animation-name: bannerEvent;
        animation-timing-function: ease;
        animation-duration: 2s;
    }
    .banner__event--description{
        position: absolute;
        width: 80%;
        text-align: center;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #ffffff;
        font-size: .8rem;
        font-weight: 500;
        animation-name: stars;
        animation-timing-function:ease-out;
        animation-duration: 4s;
    }
}
@keyframes bannerEvent {
    0%{
        transform: scale(3);
        top: 40%;
        left: 0%;
    }
    100%{
        transform: scale(1);
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }

}

                                    /* DESCRIPCION EVENTOS*/
.event__explain{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: $bg-color-main;
    h2{
        color: $main-color;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 10px;
        margin-bottom: 3px;
    }
    p{
        font-size: 1rem;
        line-height: 35px;
        color: $second-color;
        font-family: sans-serif;
    }
}
                                    /* GALERIA SALONES DE EVENTOS*/
.gallery__event{
    width: 100%;
    // background-color: $third-color;
    
    .event-salon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $bg-color-main;
        box-shadow: 5px 5px 15px 5px $second-color;
        padding: 15px;
        margin: 30px auto 30px auto;
        .evento-salon-img{
            width: 100%;
            height: auto;
            margin-top: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        h3{
            color: $main-color;
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            color: $second-color;
            line-height: 30px;
            text-align: center;
            font-family: sans-serif;
        }
        .button{
            width: 100%;
            height: 50px;
            text-align: center;
            button{
                height: 100%;
                background-color: $second-color;
                color: $bg-color-main;
                border: solid 2px $second-color;
                font-family: inherit;
                font-size: 1.3rem;
                font-weight: 600;
                cursor: pointer;
                transition: .3s ease;
            }
            button:hover{
                background-color: $bg-color-main;
                color: $second-color;
            }
        }
    }
}
    

                            /* MIXIN PARA MANEJAR MEDIAQUERIES DE BANNER*/  
                            
@include bannerMQ(500,"banner__event","banner__event--title",2,"banner__event--description",1);
@include bannerMQ(780,"banner__event","banner__event--title",3,"banner__event--description",1);
@include bannerMQ(1050,"banner__event","banner__event--title",3,"banner__event--description",1.2);

                /* MEDIA QUERIE PARA MANTENER PROPORCIONAL LA DESCRIPCION DEL HOTEL*/

@media screen and (min-width:1050px){
    .event__explain{
        text-align: center;
        padding: 0px 100px 0px 100px;
        h2{
            color: $main-color;
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 10px;
            margin-bottom: 3px;
        }
        p{
            font-size: 1rem;
            line-height: 35px;
            color: $second-color;
        }
    }
}
        
        
    
